<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/acercade.js"></script>
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/acercadeone.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link href="../static/css/ihover.min.css" rel="stylesheet">
    <link href="../static/css/hover-min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../static/js/modernizr.custom.79639.js"></script> 
  </head>
  
  <body>    
  <div id="parallax-world-of-ugg">


<section>
    <div class="parallax-one">
      <h2>Informatorio</h2>
    </div>
</section>

<section>
  <div class="block miColorCard">
    <p><span class="first-character sc"></span><b>El Informatorio Chaco</b> es un Laboratorio de Capacitaciones Informaticas, una iniciativa que surge como acción concreta luego del trabajo de vinculación entre Universidad, Industria y Estado, quienes a partir del análisis llevado a cabo en el Foro de Competitividad de la Industria de SSI (2009/2010) se propusieron como estrategia la Formación de Recursos Humanos en Herramientas Informáticas específicas.
    El Laboratorio de Capacitaciones Informáticas tiene por principal objetivo formar a jóvenes fomentando el desarrollo de sus<i>hard skills</i> (programación, herramientas y técnicas, etc.) y <i>soft skills</i> (colaboración, trabajo en equipo, flexibilidad, etc.), tal que puedan insertarse rápidamente en el mercado laboral.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10"></p>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>In</h2>
    <center><h1>Development Group</h1></center>
  </div>
</section>

<section>
  <div class="block miColorCard">
    <p><span class="first-character ny"><p>Provenientes del <b>Informatorio Chaco 2016</b>, <i>In</i> surge como una metodología de trabajo, con la propuesta del <i>Desarrollo de Aplicaciones Web y Aplicaciones Móviles.</i>Como jóvenes emprendedores, consideramos que el <i>avance tecnológico y el desarrollo de software deben conjugarse sin lugar a dudas al momento de ofrecer soluciones innovadoras</i>. Buscamos ofrecer herramientas, productos fiables y útiles, creemos que a base de esfuerzo, dedicación, compromiso y creatividad podremos conseguir cada cosa que nos proponemos.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10"></p>
  </div>
</section>



  <section>
    <div class="parallax-three">
      <h2>Apps</h2>
    </div>
  
  <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>BrainChaco</h3>
                <p>Aplicacion <a href="http://drbl.in/eOPF"></a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>Bien All</h3>
                <p>Aplicacion<a href="https://image.freepik.com/foto-gratis/circulos_21084030.jpg"></a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>chuwal</h3>
                <p>Aplicacion<a href="http://drbl.in/ekhp"></a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info">
                <h3>GuiarTec</h3>
                <p>Aplicacion<a href="http://drbl.in/ekhp"></a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-5">
              <div class="ch-info">
                <h3>esQtoR</h3>
                <p>Aplicacion<a href="http://drbl.in/ekhp"></a></p>
              </div>
            </div>
          </li>
        </ul>
  </section>

<!--LOGOS APSS CIRCLE-->

  <!-- https://codepen.io/hudsonmarinho/pen/FHGeK toda la merca-->
     <a href="{{=URL('default','index')}}" class="btn-floating btn-large waves-effect waves-light miColorBotonHome right fixed-btn-bottom"><i class="material-icons">home</i></a>
   
     </div>
</body>
</html>